#banner
	.banner_content
		%h1 File Cabinet
		%p Your Life's Work. Organized, always.
		%button= link_to "Enter", new_user_registration_path


#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p YOLO before they sold out tacos selfies mumblecore schlitz franzen disrupt. Woke prism before they sold out, chambray pickled cronut health goth distillery. Health goth ugh vegan jianbing, gentrify salvia lyft pitchfork venmo. Gochujang jean shorts paleo, leggings poke post-ironic chia single-origin coffee quinoa actually. Edison bulb typewriter XOXO banh mi, hexagon yuccie pop-up occupy iceland fingerstache pug art party hella PBR&B distillery.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path
